<body style="background-color:white ; color:black; padding: 20px;">
        
  <div > 
      
      <form>
              <div class="jumbotron frozen-dreams-gradient"  >
                <h1 id="toper">Sign Up:</h1>
                  <!-- <div class="jumbotron" style="background-image:url('assets/images/hex.jpg');color: white" ></div> -->
                  <h2>Enter Personal Details :</h2>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <mat-form-field style="width: 100%">
                      <input matInput placeholder="Name" type="text" id="signUpName" class="form-control">
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                      <mat-form-field style="width: 100%">
                      <input matInput placeholder="Surname" type="text" id="signUpSurname" class="form-control">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <mat-form-field style="width: 100%">
                          <input matInput placeholder="Email" type="text" id="signUpEmail" class="form-control">
                          </mat-form-field>
                      </div>
                      <div class="col-md-6" >
                          <mat-form-field style="width: 100%">
                          <input matInput placeholder="Password" type="text" id="signUpPassword" class="form-control">
                          </mat-form-field>
                      </div>
                    </div>
              <h2>Enter Addresses :</h2>
              <div class="form-row">
                  
                  <div class="md-outline col-md-6">
                      <mat-form-field  style="width: 100%">
                        <textarea matInput id="homeAddress" class="md-textarea form-control" style="background-color: white" rows="6" placeholder="Home Address"></textarea>
                      </mat-form-field>
                  </div>
                  <div class=" md-outline col-md-6">
                      <mat-form-field  style="width: 100%">
                      <textarea matInput id="workAddress" class="md-textarea form-control" style="background-color: white" rows="6" placeholder="Work Address"></textarea>
                      </mat-form-field>

                  </div>
                </div>
              <h2>Enter Cards :</h2>
              <div class="form-row">
                  
                  <div class="md-outline col-md-6">
                      <mat-form-field  style="width: 100%">
                      <textarea matInput placeholder="Credit Card" id="creditCard" class="form-control" style="background-color: white" rows="6"></textarea>
                      </mat-form-field>
                  </div>
                  <div class="md-outline col-md-6">
                      <mat-form-field  style="width: 100%">
                      <textarea matInput placeholder="Debit / Cheque Card" id="debitCard" class="form-control" style="background-color: white" rows="6"></textarea>
                      </mat-form-field>
                  </div>
              </div>
              <div class="form-row">
                  <button type="button" (click)="onSignUp()" class="dusty-grass-gradient btn" style="margin: 20px ; margin-right: 40%">Sign Up</button>
                  <button type="button" class="btn" style="background-color:red ; margin: 20px" routerLink="/login">Cancel</button>
              </div>
              </div>
          
          </form>
    </div>
  </body>
  