<body style="background-color:white ; color:black; padding: 20px;">
        
  <div > 
      
      <form>
              <div class="jumbotron near-moon-gradient"  >
                <h2>Change Password</h2>
                <div class="md-form md-outline form row">
                  <input placeholder="Old Password" type="text" id="oldPassword" class="form-control">
                </div>
                <div class="md-form md-outline form row">
                  <input placeholder="New Password" type="text" id="newPassword" class="form-control">
                </div>
                <div class="md-form md-outline form row">
                  <input placeholder="Confirm Password" type="text" id="confirmPassword" class="form-control">
                </div>
                <div class="form-row">
                    <button class="aqua-gradient btn" style="margin: 20px ; margin-right: 40%">Save Changes</button>
                    <button class="peach-gradient btn" style="margin: 20px">Discard Changes</button>
                </div>
              </div>
          
              </form>
    </div>
  </body>

