<body style="background-color:white ; color:black; padding: 20px;">
        
  <div > 
      
      <form>
              <div class="jumbotron deep-blue-gradient"  >
                  <!-- <div class="jumbotron" style="background-image:url('assets/images/hex.jpg');color: white" ></div> -->
                  <div class="form-row">
                          <div class="md-form md-outline form-group col-md-6" >
                              <img src="assets/images/profile3.jpg" class="rounded mx-auto d-block" vspace="20" hspace="20" style="width:70%"/>
                          </div>
                  <div class="form-group col-md-6">
                    <div class="form-row col-md-4">
                        <h4 id="dispName" style="margin-right: 20px">Name</h4>
                        <h4 id="dispSurname">Surname</h4>
                    </div>
                      <div class="md-form md-outline form-group input-group">
                          <div>
                              <button type="button" class="btn heavy-rain-gradient btn-rounded" id="ChangePassword">Change Password</button>
                          </div>
                      </div>
                          <div>
                                  <button type="button" class="btn heavy-rain-gradient btn-rounded" id="transactionHistory">View Transaction History</button>
                          </div>
                  </div>
              </div>
              <h2>Your Addresses :</h2>
              <div class="form-row">
                  
                  <div class="md-outline col-md-6">
                      <mat-form-field  style="width: 100%">
                        <textarea matInput id="homeAddress" class="md-textarea form-control" style="background-color: white" rows="6" placeholder="Home Address"></textarea>
                      </mat-form-field>
                  </div>
                  <div class=" md-outline col-md-6">
                      <mat-form-field  style="width: 100%">
                      <textarea matInput id="workAddress" class="md-textarea form-control" style="background-color: white" rows="6" placeholder="Work Address"></textarea>
                      </mat-form-field>

                  </div>
                  <div>
                      <button  class="btn heavy-rain-gradient" style="margin-bottom: 20px">Add new Address +</button>
                  </div>
                </div>
              <h2>Your Cards :</h2>
              <div class="form-row">
                  
                  <div class="md-outline col-md-6">
                      <mat-form-field  style="width: 100%">
                      <textarea matInput placeholder="Credit Card" id="creditCard" class="form-control" style="background-color: white" rows="6"></textarea>
                      </mat-form-field>
                  </div>
                  <div class="md-outline col-md-6">
                      <mat-form-field  style="width: 100%">
                      <textarea matInput placeholder="Debit / Cheque Card" id="debitCard" class="form-control" style="background-color: white" rows="6"></textarea>
                      </mat-form-field>
                  </div>
                </div>
             <div>
                  <button  class="btn heavy-rain-gradient" style="margin-bottom: 20px">Add new card +</button>
              </div>
            
              <div class="form-row">
                  <button class="btn dusty-grass-gradient" style=" margin: 20px ; margin-right: 40%">Save Changes</button>
                  <button class="btn peach-gradient" style=" margin: 20px">Discard Changes</button>
              </div>
            </div>
  
              </form>
    </div>
  </body>

