.heading {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 16px;
    margin-bottom: 1em;
  }
}

.total-price {
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}

.radio {
  padding-right: 1em;
}

.container{
  padding-left: 1em;
}