<body style="background-color:white ; color:black; padding: 20px;">
        
  <div > 
      
      <form>
              <div class="jumbotron rare-wind-gradient"  >
                <h2>Login :</h2>
                <div class="md-form md-outline form row">
                  <input placeholder="Username / Email" type="text" id="loginUsername" class="form-control">
                </div>
                <div class="md-form md-outline form row">
                  <input placeholder="Password" type="text" id="loginPassword" class="form-control">
                </div>
                <div class="form-row">
                    <form (submit)='onLogin(LoginForm)' #LoginForm>
                      <button class="dusty-grass-gradient btn" style="margin: 20px ; margin-right: 40%">Login</button>
                    </form>
                    <button class="night-fade-gradient btn" style="margin: 20px" routerLink="/signup">Sign Up</button>
                </div>
              </div>
          
              </form>
    </div>
  </body>
