.heading {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;

  button{
    margin-right: 16px;
  }
}

.total-price{
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}
