<mat-card class="card">
  <mat-card-header>
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">{{
      name
    }}</mat-card-title>
    <mat-card-subtitle fxLayout.gt-xs="row" fxLayout.xs="column">{{
      category
    }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p fxLayoutAlign="center">
      {{ description }}
    </p>
    <h3 fxLayoutAlign="end">Price: R{{ price }}</h3>
  </mat-card-content>
  <countdown
    (reached)="testing()"
    [text]="text"
    units="Hours | Minutes | Seconds"
    end="{{ dealEndTime }}"
  ></countdown>
  <mat-card-actions>
    <button mat-button fxFlex="10%" (click)="buyProduct(id, name)">Buy</button>
  </mat-card-actions>
</mat-card>
