::ng-deep .countdown {
    width: 100%;
    height: 100px;
    background: black;

    .measurements {
      color: white;
      margin-right: 5px;
      padding: 10px;
   }

   .divider {
    font-size: 30px;
   }
}