<mat-toolbar color="primary">
  <button mat-flat-button color="primary" routerLink="/home">
    Home
  </button>
  <span class="example-fill-remaining-space"></span>
  <!-- This span is to space everything out equally -->
  <button mat-button [matMenuTriggerFor]="menu">Categories</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let i of arrayTest" (click)="getCategory(i)">
      Category {{ i }}
    </button>
  </mat-menu>
  <span class="example-fill-remaining-space"></span>
  <button mat-flat-button color="primary" routerLink="/account">
    Profile
  </button>
  <span class="example-fill-remaining-space"></span>
  <button mat-flat-button color="primary" routerLink="/transaction-history">
    Transaction History
  </button>
  <span class="example-fill-remaining-space"></span>
  <button mat-flat-button color="primary" routerLink="/basket">
    <mat-icon>shopping_cart</mat-icon>
    <!-- <span>amount</span> -->
  </button>

  <ng-template
    *ngIf="accountService.isLoggedIn; then authenticated; else guest"
  ></ng-template>

  <ng-template #authenticated>
    <button mat-button color="accent" (click)="changeLoggedIn()">
      SignOut
    </button>
  </ng-template>
  <ng-template #guest>
    <button mat-button color="accent" (click)="changeLoggedIn()">SignIn</button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
