<div class="container">
  <button mat-button (click)="toggleBasketItemChecked()">
    <mat-icon>delete_outline</mat-icon>
  </button>
  <img
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <div class="title-description-container">
    <b>{{ name }}</b>
    <p class="description">{{ description }}</p>
  </div>

  <div class="item-count-container">
    <button
      class="remove-button"
      mat-icon-button
      color="primary"
      (click)="decreaseQuantity()"
    >
      <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field class="item-count">
      <input matInput value="{{ quantity }}" />
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="increaseQuantity()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <p class="price">R{{ price }}</p>
</div>
